body {
      margin: 0;
      padding: 0;
      min-height: 100vh;
    }

h1, h2, h3{
    font-family: Playfair Display, serif;
    text-align: center;
    margin-bottom: 10px;
}
p, .descriptions{
    font-family: lora, serif;
    text-align: justify;
    margin-bottom: 10px;
}
.navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 40px;
      border: 1px solid #ddd;
      background: #fff;
      color:#191970 ;
    }

    .navbar .logo {
      font-weight: bold;
      font-size: 18px;
    }

    .navbar .links {
      display: flex;
      gap: 25px;
    }

    .navbar .links a {
      text-decoration: none;
      color: #444;
      font-size: 14px;
    }

    .navbar .buttons {
      display: flex;
      gap: 10px;
    }

    .btn {
      padding: 6px 16px;
      font-size: 14px;
      border-radius: 5px;
      cursor: pointer;
      border: none;
    }

    .btn-outline {
      border: 1px solid #444;
      background: #fff;
      border-radius: 8px;
      color: #444;
    }

    .btn-solid {
      background: white;
      border: 2px solid #0B132B;
      color: #0B132B;
    }

    .btn-outline:hover {
      background: #f5f5f5;
    }

    .btn-solid:hover {
      background: #f5f5f5;
    }

.section {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 650px;
      background-color: #e0e0e0; 
        color:#191970 ;
    }

main {
    flex: 1;                
}
.container-central {
    max-width: auto;
    margin-left: 60px ;
    margin-right: 60px;
    margin-bottom: 30px;
    padding: 0 20px;
    text-align: center;
}
.container {
            display: flex;
            align-items: flex-start;
            background: #f5f5f5;
            padding: 16px;
        }
        .image-placeholder {
            background: #cccccc;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 24px;
        }
      
        .text-content {
            font-family: Arial, sans-serif;
            font-size: 13px;
            color: #333;
            line-height: 1.4;
        }
  .container-right {
            display: flex;
            align-items: right;
            background: #f5f5f5;
            padding: 15px;
            flex-direction: row-reverse;
        }
        .image-placeholder-right {
            background: #cccccc;
            display: flex;
            align-items: right;
            justify-content: center;
            margin-left: 24px;
        }


footer {
  background: #0B132B;
  color: #F8F4E3;
  padding: 30px 0 10px 0;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 100;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-logo {
  font-weight: bold;
  color: #444;
}

.footer-nav a {
  margin: 0 12px;
  color: #F4D58D;
  text-decoration: none;
  font-size: 15px;
}

.footer-social a {
  margin-left: 15px;
  color: #F4D58D;
  font-size: 17px;
  text-decoration: none;
}

.footer-bottom {
  text-align: center;
  font-size: 13px;
  color: #bbb;
  margin-top: 25px;
}

.footer-bottom a {
  margin-left: 30px;
  color: #bbb;
  text-decoration: none;
}

.twitter-icon {
  font-size: 24px;
  color: #1DA1F2;
  margin-left: 15px;
}
